.crosshair {
    --size: 64px;
    --individual-size: calc(0.3125 * var(--size));
    --stroke-width: calc(0.0625 * var(--size));
    --center-translate: calc(var(--size) / 2 - var(--stroke-width) / 2);
    --second-translate: calc(
        (var(--size) / 2) + ((var(--size) / 2) - var(--individual-size))
    );
    position: absolute;
    height: var(--size);
    width: var(--size);
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
}

.crosshair-v {
    position: absolute;
    width: var(--stroke-width);
    background-color: white;
    height: var(--individual-size);
    transform: translateX(var(--center-translate));
}

.crosshair-v-2 {
    position: absolute;
    width: var(--stroke-width);
    background-color: white;
    height: var(--individual-size);
    transform: translateX(var(--center-translate))
        translateY(var(--second-translate));
}

.crosshair-h {
    position: absolute;
    height: var(--stroke-width);
    background-color: white;
    width: var(--individual-size);
    transform: translateY(var(--center-translate));
}

.crosshair-h-2 {
    position: absolute;
    height: var(--stroke-width);
    background-color: white;
    width: var(--individual-size);
    transform: translateY(var(--center-translate))
        translateX(var(--second-translate));
}

#damage-overlay {
  position: fixed;
  inset: 0;                    /* cobre toda a viewport */
  pointer-events: none;        /* não bloqueia cliques */
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background: radial-gradient(
    circle at center,
    transparent 70%,
    rgba(255, 0, 0, 0.8) 100%
  );
}

#damage-overlay.active {
  opacity: 1;
}

.health-bar-container {
  width: 60px;
  height: 6px;
  background: rgba(0,0,0,0.6);
  border: 1px solid #222;
  border-radius: 3px;
  overflow: hidden;
  transform: translateX(-30px) translateY(-6px); /* centraliza horizontal e empurra pra cima */
}

.health-bar-fill {
  height: 100%;
  background: red;
  width: 100%;
  transition: width 0.1s linear;
}

#ui-container {
    position: absolute;
    top: 30px;
    width: calc(100% - 60px);
    height: 90%;
    display: flex;
    /* justify-content: start; */
    left: 30px;
    z-index: 10;
    color: white;
    font-family: sans-serif;
}

#health-bar-container {
    display: flex;
    align-items: start;
    gap: 15px;
}


#health-bar-background {
    width: 300px;
    height: 25px;
    background-color: #444;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 2px;
}

/* Estilo para a barra de vida que será atualizada */
#health-bar {
    height: 100%;
    width: 100%; /* Começa com 100% da vida */
    background-color: #28a745; /* Verde para vida cheia */
    border-radius: 3px;
    /* Adiciona uma transição suave ao mudar a largura */
    transition: width 0.5s ease-out;
}


/* estilo do UI de chaves */

#chaves-container {
  position:absolute;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 12px;
}

#chaves-container > div {
  width: 64px;
  height: 64px;
  
  background-color: rgba(72, 72, 72, 0.8);
  border-radius: 10px;
}


#chave-1 {
  background-image: url('./assets/chaves/chave-1.svg');
  background-size: cover;
}

#chave-2 {
  background-image: url('./assets/chaves/chave-2.svg');
  background-size: cover;
}

#chave-3 {
  background-image: url('./assets/chaves/chave-3.svg');
  background-size: cover;
}